<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <components>

    <component id="CSharpLoggedParsingService"
               service="CS2.Core.Parsing.IParsingService, CS2.Core"
               type="CS2.Core.Parsing.LoggedParsingService, CS2.Core">
      <parameters>
        <inner>${CSharpParsingService}</inner>
      </parameters>
    </component>

    <component id="CSharpParsingService"
               service="CS2.Core.Parsing.IParsingService, CS2.Core"
               type="CS2.CSharp.Parsing.NemerleCSharpParsingService, CS2.CSharp">
    </component>
    
  </components>
</configuration>