<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <facilities>
    <facility id="factorysupport"
              type="Castle.Facilities.FactorySupport.FactorySupportFacility, Castle.MicroKernel" />
              <!-- null|console|diagnostics|web|nlog|log4net|custom="" -->
    <facility id="logging"
              type="Castle.Facilities.Logging.LoggingFacility, Castle.Facilities.Logging"
              loggingApi="console" />
  </facilities>
</configuration>