<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section
        name="castle"
        type="Castle.Windsor.Configuration.AppDomain.CastleSectionHandler, Castle.Windsor" />
  </configSections>

  <castle>
    <properties>
      <fileSystemIndexDirectory>c:\pollo</fileSystemIndexDirectory>
      <directoryType>${FileSystemDirectory}</directoryType>
    </properties>

    <facilities>
      <facility id="factorysupport"
                type="Castle.Facilities.FactorySupport.FactorySupportFacility, Castle.MicroKernel" />
      <facility id="logging"
                type="Castle.Facilities.Logging.LoggingFacility, Castle.Facilities.Logging"
                loggingApi="console" />
    </facilities>

    <components>
      
      <!-- Indexing -->
      <component id="CSharpIndexingService"
                 service="CS2.Services.AbstractIndexingService, CS2.Services"
                 type="CS2.Services.CSharpIndexingService, CS2.Services">
        <parameters>
          <parsingService>${CSharpParsingService}</parsingService>
          <fileMatchPattern>*.cs</fileMatchPattern>
        </parameters>
      </component>
      <!-- End Indexing -->

      <!-- Parsing -->
      <component id="CSharpParsingService"
                 service="CS2.Services.IParsingService, CS2.Services"
                 type="CS2.Services.CSharpParsingService, CS2.Services">
      </component>

      <component id="CSharpParsingVisitor"
                service="CS2.Services.IParsingVisitor, CS2.Services"
                type="CS2.Services.CSharpParsingVisitor, CS2.Services">
      </component>
      <!-- End Parsing -->
      
      <!-- Helper -->
      <component id="DirectoryFactory"
           type="CS2.Services.DirectoryFactory, CS2.Services">
      </component>
      <!-- End Helper -->

      <!-- Lucene -->
      <component id="IndexWriter" type="Lucene.Net.Index.IndexWriter, Lucene.Net">
        <parameters>
          <d>#{directoryType}</d>
          <a>${CSharpAnalyzer}</a>
          <create>true</create>
        </parameters>
      </component>

      <component id="RamDirectory"
                 service="Lucene.Net.Store.Directory, Lucene.Net"
                 type="Lucene.Net.Store.RAMDirectory, Lucene.Net">
      </component>

      <component id="FileSystemDirectory"
                 type="Lucene.Net.Store.FSDirectory, Lucene.Net"
                 factoryId="DirectoryFactory"
                 factoryCreate="GetDirectory">
        <parameters>
          <path>#{fileSystemIndexDirectory}</path>
          <overwrite>true</overwrite>
        </parameters>
      </component>

      <component id="IndexSearcher"
                 service="Lucene.Net.Search.Searcher, Lucene.Net"
                 type="Lucene.Net.Search.IndexSearcher, Lucene.Net">
        <parameters>
          <directory>#{directoryType}</directory>
        </parameters>
      </component>

      <component id="StandardAnalyzer"
                 service="Lucene.Net.Analysis.Analyzer, Lucene.Net"
                 type="Lucene.Net.Analysis.Standard.StandardAnalyzer, Lucene.Net">
      </component>

      <component id="CSharpAnalyzer"
                service="Lucene.Net.Analysis.Analyzer, Lucene.Net"
                type="CS2.Services.CSharpAnalyzer, CS2.Services">
      </component>
      <!-- End Lucene -->

      <component id="SearchService"
                 service="CS2.Services.ISearchService, CS2.Services"
                 type="CS2.Services.SearchService, CS2.Services">
        <parameters>
          <analyzer>${StandardAnalyzer}</analyzer>
        </parameters>
      </component>
    </components>
  </castle>
</configuration>