<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section
        name="castle"
        type="Castle.Windsor.Configuration.AppDomain.CastleSectionHandler, Castle.Windsor" />
  </configSections>

  <castle>
    <properties>
      <fileSystemIndexDirectory>c:\pollo</fileSystemIndexDirectory>
      <directoryType>${FileSystemDirectory}</directoryType>
    </properties>

    <facilities>
      <facility id="factorysupport"
                type="Castle.Facilities.FactorySupport.FactorySupportFacility, Castle.MicroKernel" />
    </facilities>

    <components>
      
      <!-- Indexing -->
      <component id="SourceCodeIndexingService"
                 service="CS2.Services.ISourceCodeIndexingService, CS2.Services"
                 type="CS2.Services.SourceCodeIndexingService, CS2.Services">
      </component>

      <component id="SourceCodeParsingService"
                 service="CS2.Services.ISourceCodeParsingService, CS2.Services"
                 type="CS2.Services.SourceCodeParsingService, CS2.Services">
      </component>
      <!-- End Indexing -->
      
      <!-- Helper -->
      <component id="DirectoryFactory"
           type="CS2.Services.DirectoryFactory, CS2.Services">
      </component>
      <!-- End Helper -->

      <!-- Lucene -->
      <component id="IndexWriter" type="Lucene.Net.Index.IndexWriter, Lucene.Net">
        <parameters>
          <d>#{directoryType}</d>
          <a>${CSharpSourceCodeAnalyzer}</a>
          <create>true</create>
        </parameters>
      </component>

      <component id="RamDirectory"
                 service="Lucene.Net.Store.Directory, Lucene.Net"
                 type="Lucene.Net.Store.RAMDirectory, Lucene.Net">
      </component>

      <component id="FileSystemDirectory"
                 type="Lucene.Net.Store.FSDirectory, Lucene.Net"
                 factoryId="DirectoryFactory"
                 factoryCreate="GetDirectory">
        <parameters>
          <path>#{fileSystemIndexDirectory}</path>
          <overwrite>true</overwrite>
        </parameters>
      </component>

      <component id="IndexSearcher"
                 service="Lucene.Net.Search.Searcher, Lucene.Net"
                 type="Lucene.Net.Search.IndexSearcher, Lucene.Net">
        <parameters>
          <directory>#{directoryType}</directory>
        </parameters>
      </component>

      <component id="StandardAnalyzer"
                 service="Lucene.Net.Analysis.Analyzer, Lucene.Net"
                 type="Lucene.Net.Analysis.Standard.StandardAnalyzer, Lucene.Net">
      </component>

      <component id="CSharpSourceCodeAnalyzer"
                service="Lucene.Net.Analysis.Analyzer, Lucene.Net"
                type="CS2.Services.CSharpSourceCodeAnalyzer, CS2.Services">
      </component>
      <!-- End Lucene -->

      <component id="SourceCodeSearchService"
                 service="CS2.Services.ISourceCodeSearchService, CS2.Services"
                 type="CS2.Services.SourceCodeSearchService, CS2.Services">
        <parameters>
          <analyzer>${StandardAnalyzer}</analyzer>
        </parameters>
      </component>
    </components>
  </castle>
</configuration>