<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section
        name="castle"
        type="Castle.Windsor.Configuration.AppDomain.CastleSectionHandler, Castle.Windsor" />
  </configSections>

  <castle>
    <include uri="file://Configuration/Properties.config" />
    <include uri="file://Configuration/Facilities.config" />
    <include uri="file://Configuration/Components.CSharp.config" />
  </castle>
</configuration>