<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section
        name="castle"
        type="Castle.Windsor.Configuration.AppDomain.CastleSectionHandler, Castle.Windsor" />
  </configSections>

  <castle>
    <components>
      <component id="IndexSearcher"
                 service="Lucene.Net.Search.Searcher, Lucene.Net"
                 type="Lucene.Net.Search.IndexSearcher, Lucene.Net">
      </component>

      <component id="SourceCodeSearchService"
                 service="CS2.Services.ISourceCodeSearchService, CS2.Services"
                 type="CS2.Services.SourceCodeSearchService, CS2.Services">
        <parameters>
          <searcher>${IndexSearcher}</searcher>
        </parameters>
      </component>                 
    </components>
  </castle>
</configuration>