<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <components>

    <component id="TimedIndexingService"
               service="CS2.Core.Indexing.IIndexingService, CS2.Core"
               type="CS2.Core.Indexing.TimedIndexingService, CS2.Core">
      <parameters>
        <inner>${LoggedIndexingService}</inner>
        <updateInterval>#{timedIndexingServiceUpdateInterval}</updateInterval>
      </parameters>
    </component>
    
    <component id="LoggedIndexingService"
               service="CS2.Core.Indexing.IIndexingService, CS2.Core"
               type="CS2.Core.Indexing.LoggedIndexingService, CS2.Core">
      <parameters>
        <inner>${IndexingService}</inner>
      </parameters>
    </component>

    <component id="IndexingService"
               service="CS2.Core.Indexing.IIndexingService, CS2.Core"
               type="CS2.Core.Indexing.IndexingService, CS2.Core">
      <parameters>
        <indexDirectory>#{directoryType}</indexDirectory>
        <parsingServices>
          <array>
            <item>${CSharpLoggedParsingService}</item>
          </array>
        </parsingServices>
        <exclusions>#{exclusions}</exclusions>
      </parameters>
    </component>

    <component id="CSharpLoggedParsingService"
               service="CS2.Core.Parsing.IParsingService, CS2.Core"
               type="CS2.Core.Parsing.LoggedParsingService, CS2.Core">
      <parameters>
        <inner>${CSharpParsingService}</inner>
      </parameters>
    </component>

    <component id="CSharpParsingService"
               service="CS2.Core.Parsing.IParsingService, CS2.Core"
               type="CS2.Core.Parsing.CSharpParsingService, CS2.Core">
      <parameters>
        <parsingVisitor>${CSharpParsingVisitor}</parsingVisitor>
        <analyzer>${CSharpAnalyzer}</analyzer>
        <exclusions>
          <array>
            <item>.vb</item>
          </array>
        </exclusions>
      </parameters>
    </component>

    <component id="CSharpParsingVisitor"
               service="CS2.Core.Parsing.IParsingVisitor, CS2.Core"
               type="CS2.Core.Parsing.CSharpParsingVisitor, CS2.Core">
    </component>

    <component id="CSharpAnalyzer"
               service="CS2.Core.Analysis.AbstractAnalyzer, CS2.Core"
               type="CS2.Core.Analysis.CSharpAnalyzer, CS2.Core">
    </component>
    
    <component id="SearchService"
               service="CS2.Core.Searching.ISearchService, CS2.Core"
               type="CS2.Core.Searching.SearchService, CS2.Core">
      <parameters>
        <analyzers>
          <dictionary>
            <entry key="C#">${CSharpAnalyzer}</entry>
          </dictionary>
        </analyzers>
      </parameters>
    </component>

  </components>

</configuration>