<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <components>
    <component id="DirectoryFactory"
               type="CS2.Core.DirectoryFactory, CS2.Core">
    </component>

    <component id="RamDirectory"
               service="Lucene.Net.Store.Directory, Lucene.Net"
               type="Lucene.Net.Store.RAMDirectory, Lucene.Net">
    </component>

    <component id="FileSystemDirectory"
               type="Lucene.Net.Store.FSDirectory, Lucene.Net"
               factoryId="DirectoryFactory"
               factoryCreate="GetDirectory">
      <parameters>
        <path>#{fileSystemIndexDirectory}</path>
        <overwrite>false</overwrite>
      </parameters>
    </component>
  </components>
</configuration>