<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <properties>
    <!-- ${RamDirectory|FileSystemDirectory} -->
    <directoryType>${FileSystemDirectory}</directoryType>

    <fileSystemIndexDirectory>C:\CS2ConsoleTestIndex</fileSystemIndexDirectory>

    <!-- ${InMemoryFilesRepository|SQLiteFilesRepository}-->
    <repositoryType>${SQLiteFilesRepository}</repositoryType>

    <databaseConnectionString>Data Source=C:\CS2ConsoleTest.db</databaseConnectionString>

    <!-- Format: HH:MM:SS -->
    <timedIndexingServiceUpdateInterval>00:00:30</timedIndexingServiceUpdateInterval>
    
    <exclusions>
      <array>
        <item>.svn</item>
        <item>.pdb</item>
        <item>.dll</item>
        <item>.png</item>
        <item>.config</item>
        <item>.xml</item>
        <item>.cd</item>
        <item>.csproj</item>
        <item>.settings</item>
        <item>.boo</item>
      </array>
    </exclusions>
  </properties>
</configuration>