<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <components>

    <component id="CSharpIndexingService"
               service="CS2.Services.Indexing.IIndexingService, CS2.Services"
               type="CS2.Services.Indexing.CSharpIndexingService, CS2.Services">
      <parameters>
        <parsingService>${CSharpLoggingParsingDecorator}</parsingService>
        <indexWriter>${CSharpIndexWriter}</indexWriter>
      </parameters>
    </component>

    <component id="CSharpLoggingParsingDecorator"
               service="CS2.Services.Parsing.IParsingService, CS2.Services"
               type="CS2.Services.Logging.LoggingParsingDecorator, CS2.Services">
      <parameters>
        <inner>${CSharpParsingService}</inner>
      </parameters>
    </component>
    
    <component id="CSharpParsingService"
               service="CS2.Services.Parsing.IParsingService, CS2.Services"
               type="CS2.Services.Parsing.CSharpParsingService, CS2.Services">
      <parameters>
        <parsingVisitor>${CSharpParsingVisitor}</parsingVisitor>
      </parameters>
    </component>

    <component id="CSharpParsingVisitor"
              service="CS2.Services.Parsing.IParsingVisitor, CS2.Services"
              type="CS2.Services.Parsing.CSharpParsingVisitor, CS2.Services">
    </component>

    <component id="DirectoryFactory"
         type="CS2.Services.DirectoryFactory, CS2.Services">
    </component>

    <component id="CSharpIndexWriter" 
               type="Lucene.Net.Index.IndexWriter, Lucene.Net">
      <parameters>
        <d>#{directoryType}</d>
        <a>${CSharpAnalyzer}</a>
        <create>true</create>
      </parameters>
    </component>

    <component id="RamDirectory"
               service="Lucene.Net.Store.Directory, Lucene.Net"
               type="Lucene.Net.Store.RAMDirectory, Lucene.Net">
    </component>

    <component id="FileSystemDirectory"
               type="Lucene.Net.Store.FSDirectory, Lucene.Net"
               factoryId="DirectoryFactory"
               factoryCreate="GetDirectory">
      <parameters>
        <path>#{fileSystemIndexDirectory}</path>
        <overwrite>true</overwrite>
      </parameters>
    </component>

    <component id="IndexSearcher"
               service="Lucene.Net.Search.Searcher, Lucene.Net"
               type="Lucene.Net.Search.IndexSearcher, Lucene.Net">
      <parameters>
        <directory>#{directoryType}</directory>
      </parameters>
    </component>

    <component id="StandardAnalyzer"
               service="Lucene.Net.Analysis.Analyzer, Lucene.Net"
               type="Lucene.Net.Analysis.Standard.StandardAnalyzer, Lucene.Net">
    </component>

    <component id="CSharpAnalyzer"
              service="Lucene.Net.Analysis.Analyzer, Lucene.Net"
              type="CS2.Services.Analysis.CSharpAnalyzer, CS2.Services">
    </component>
    <!-- End Lucene -->

    <component id="SearchService"
               service="CS2.Services.Searching.ISearchService, CS2.Services"
               type="CS2.Services.Searching.SearchService, CS2.Services">
      <parameters>
        <analyzer>${StandardAnalyzer}</analyzer>
      </parameters>
    </component>
  </components>

</configuration>