<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <components>
    <component id="LoggedIndexingService"
               service="CS2.Core.Indexing.IIndexingService, CS2.Core"
               type="CS2.Core.Indexing.LoggedIndexingService, CS2.Core"
               lifestyle="transient">
      <parameters>
        <inner>${IndexingService}</inner>
      </parameters>
    </component>

    <component id="IndexingService"
               service="CS2.Core.Indexing.IIndexingService, CS2.Core"
               type="CS2.Core.Indexing.IndexingService, CS2.Core"
               lifestyle="transient">
      <parameters>
        <indexDirectory>#{directoryType}</indexDirectory>
        <parsers>
          <array>
            <item>${CSharpLoggedParsingService}</item>
          </array>
        </parsers>
        <exclusions>#{exclusions}</exclusions>
      </parameters>
    </component>

    <component id="CSharpLoggedParsingService"
               service="CS2.Core.Parsing.IParsingService, CS2.Core"
               type="CS2.Core.Parsing.LoggedParsingService, CS2.Core">
      <parameters>
        <inner>${CSharpParsingService}</inner>
      </parameters>
    </component>

    <component id="CSharpParsingService"
               service="CS2.Core.Parsing.IParsingService, CS2.Core"
               type="CS2.CSharp.Parsing.NemerleCSharpParsingService, CS2.CSharp">
    </component>

    <component id="SearchService"
             service="CS2.Core.Searching.ISearchService, CS2.Core"
             type="CS2.Core.Searching.SearchService, CS2.Core">
    </component>
  </components>
</configuration>