<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <properties>
    <!-- ${RamDirectory|FileSystemDirectory} -->
    <directoryType>${RamDirectory}</directoryType>

    <fileSystemIndexDirectory>C:\CS2TestsIndex</fileSystemIndexDirectory>

    <!-- Format: HH:MM:SS -->
    <timedIndexingServiceUpdateInterval>00:00:30</timedIndexingServiceUpdateInterval>
    
    <exclusions>
      <array>
        <item>bin</item>
        <item>obj</item>
        <item>.svn</item>
        <item>.pdb</item>
        <item>.dll</item>
        <item>.png</item>
        <item>.config</item>
        <item>.xml</item>
        <item>.cd</item>
        <item>.csproj</item>
        <item>.settings</item>
        <item>.boo</item>
        <item>.gif</item>
        <item>.resharper</item>
        <item>.suo</item>
        <item>.sln</item>
      </array>
    </exclusions>
  </properties>
</configuration>